[submodule "docker-mysql"]
	path = docker-mysql
	url = https://yangqi@github.com/yangqi/docker-mysql.git
[submodule "docker-mysql-data"]
	path = docker-mysql-data
	url = https://yangqi@github.com/yangqi/docker-mysql-data.git
[submodule "docker-nginx-php"]
	path = docker-nginx-php
	url = https://yangqi@github.com/yangqi/docker-nginx-php.git
